{% extends 'Shop/common/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block css%}<link rel="stylesheet" href="{% static 'Shop/css/forms.css' %}"> {% endblock css%}
{% block main-content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3 style = "color:#139B67"><center>Login</center></h3>
            <hr>
            <form action="" method="post" novalidate class="custom-form shadow p-5">
                {% csrf_token %}
                <!--login form loop-->
                {% for fm in form %}
                <div class = 'form-group mb3'>
                    {{fm.label_tag}}{{fm}} 
                    <small class = "text-danger">{{fm.errors|striptags}}</small>
                </div>
                
                {% endfor %}
                

                <small><a href="{% url 'password_reset' %}">Forgot Password ?</a></small> 
                <div class='custom-break'> </div>
                <input type="submit" class="btn btn-primary mt-4" value="Login">
                <br>
                <div class="text-center text-primary fw-bold"><small>New to Teach-Heaven ! <a
                            href="{% url 'customerregistration' %}" class="text-danger">Create an Account</a> </small>
                </div>
                    <!--to send error message at the end for incorrect input-->
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class = 'alert alert-danger my-3'>{{error}}</p>
                    {% endfor %}
                    {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock main-content %}