{% extends 'Shop/common/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock %}
{% block css%}<link rel="stylesheet" href="{% static 'Shop/css/forms.css' %}"> {% endblock css%}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3 style = "color:#139B67">Welcome to Tech-Heaven</h3>
        

        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile</a></li>
            </ul>

        </div>
        <div class="col-sm-9 offset-sm-1" text-center>
            <h3>You have successfully Changed the Password!</h3>
            <hr>
            <div>
                <img src="{% static 'Shop/images/custom/passwordchangedone.gif' %}" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowfullscreen></img>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}