{% extends 'Shop/common/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block css%}<link rel="stylesheet" href="{% static 'Shop/css/forms.css' %}"> {% endblock css%}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        
        <h6 style = "color:#139B67">Great Comeback <span class = 'text-capitalize'>{{request.user}}</span></h6>
        <div class="col-sm-3 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-custom-2 btn-custom-pro1">Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-6 offset-sm-1">
            <h3 style = "color:#139B67"><center>Change Password</center></h3>
            <hr>
            <form action="" method="post" novalidate class="custom-form shadow p-5">
                {% csrf_token %}
                <!--changepassword form loop-->
                {% for fm in form %}
                <div class = 'form-group mb3'>
                    {{fm.label_tag}}{{fm}} 
                    <small class = "text-danger">{{fm.errors|striptags}}</small>
                </div>
                
                {% endfor %}
                
                <div class='custom-break'> </div>
                <input type="submit" class="btn btn-warning mt-4" value="Save Password">
                
                    <!--to send error message at the end for incorrect input-->
                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                    <p class = 'alert alert-danger my-3'>{{error}}</p>
                    {% endfor %}
                    {% endif %}

            </form>
        </div>
    </div>
</div>
{% endblock main-content %}